[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "wsjplot"]
	path = wsjplot
	url = https://github.com/slee981/wsjplot
	shallow = true
	registered = true
